<!DOCTYPE html>
<html>
	<head>
		<script src="../main.js"></script>
		<style>
			code {
				font-size: 15px;
			}
			label {
				font-size: 15px;
			}
		</style>
	</head>
	<body onload="run()">
		<script>
			var generated_formulas = [
				//FORMULAS
			]
			function update_output(result) {
				document.getElementById("output").innerHTML += result;
			}
			function check_all(formula) {
				mainObj.is_satisfied_check_all(formula).is_satisfied
					.done(function( data ) {
	                	update_output(data);
	            });	
			}
			function run() {
				generated_formulas.forEach((formula) => {
					check_all(formula);
				});
			}
		</script>
		<div id="formula_output">
			<pre id="output"></pre>
		</div>
	</body>
</html>
